{% extends 'polytechnicien/header.html' %}
{% load static %}

{% block content %}
<div class="course-list">
    <h2>Cours disponibles</h2>

    <div class="add-course-button">
        <a href="{% url 'add_course' %}" class="btn btn-primary">Ajouter un cours</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Année</th>
                <th>Matière</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {% for course in courses %}
          <tr>
              <td class="year">{{ course.year }}</td>
              <td class="subject">{{ course.subject }}</td>
              <td class="description">{{ course.description }}</td>
              <td>
                  <a href="{% url 'edit_course_page' course.id %}" class="btn btn-secondary btn-sm">Modifier</a>
                  <a href="{% url 'upload_resource' course.id %}" class="btn btn-secondary btn-sm">Ajouter ressource</a>

                  <form method="post" action="{% url 'delete_course' course.id %}" style="display: inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce cours ?')">Supprimer</button>
                  </form>
              </td>
          </tr>
          {% empty %}
          <tr><td colspan="4">Aucun cours disponible.</td></tr>
          {% endfor %}
      </tbody>
    </table>

    
{% endblock %}